<div class="global__page-title">Admin</div>
<div class="container admin__main-container">
  <div class="admin__inst">Select the department you would like to make changes to.
  </div>
  <div class="admin__grid-container">
    <div class="admin__grid-row">
      <div class="admin__sq" [routerLink]="['../admin-executives']">Executives</div>
    </div>
    <div class="admin__grid-row">
      <div class="admin__sq" [routerLink]="['../admin-sales']">Sales</div>
      <div class="admin__sq" [routerLink]="['../admin-onboarding']">Onboarding</div>
      <div class="admin__sq" [routerLink]="['../admin-support']">Support</div>
    </div>
    <div class="admin__grid-row">
      <div class="admin__sq" [routerLink]="['../admin-csm']">CSMs</div>
      <div class="admin__sq" [routerLink]="['../admin-hr-finance']">HR/Finance</div>
      <div class="admin__sq" [routerLink]="['../admin-training']">Training</div>
    </div>
  </div>
</div>
