<div class="global__page-title">Admin</div>
<div class="container admin__main-container">
  <div class="admin__inst">Select the department you would like to make changes to.
  </div>
  <div class="admin__grid-container">
    <div class="admin__grid-row">
      <div class="admin__sq">Executives</div>
    </div>
  </div>
  <div class="admin__grid-container">
    <div class="admin__grid-row">
      <div class="admin__sq">Sales</div>
      <div class="admin__sq">Onboarding</div>
      <div class="admin__sq">Support</div>
    </div>
  </div>
  <div class="admin__grid-container">
    <div class="admin__grid-row">
      <div class="admin__sq">CSMs</div>
      <div class="admin__sq">HR/Finance</div>
      <div class="admin__sq">Training</div>
    </div>
  </div>
</div>
