<div ngbDropdown class="d-inline-block">
  <button class="btn btn-outline-secondary" id="dropdownBasic1" ngbDropdownToggle>Departments</button>
  <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
    <button class="dropdown-item" routerLink="admin-sales">Sales</button>
    <button class="dropdown-item" routerLink="admin-onboarding">Onboarding</button>
    <button class="dropdown-item" routerLink="admin-support">Support</button>
    <button class="dropdown-item" routerLink="admin-csm">CSMs</button>
    <button class="dropdown-item" routerLink="admin-training">Training</button>
    <button class="dropdown-item" routerLink="admin-hr-finance">HR / Finance</button>
    <button class="dropdown-item" routerLink="admin-executives">Executives</button>
  </div>
</div>
