@import "../../styles/colors";
@import "../../styles";

.home {
  &__container {
    height: 400px;
    background-image: url('../../assets/images/open-office.jpg');

    &:after {
      opacity: 0.4;
    }
  }
  &__phone-container {
    display: flex;
  }
  &__gen-info {
    display: flex;
    justify-content: space-between;
  }
  &__address {
    display: flex;
    flex-direction: column;
  }
}
