<div class="container home__container"></div>
<div class="home__gen-info">
  <div class="home__address">
    <span>Weave</span>
    <span>3401 North Thanksgiving Way</span>
    <span>Suite 400</span>
    <span>Lehi, Utah 84043</span>
  </div>
  <div class="home__tel-nums">
    <div class="home__phone-container">
      <div class="home__label">Main Phone</div>
      <div class="home__desc">(888) 579-5668</div>
    </div>
    <div class="home__phone-container">
      <div class="home__label">Sales Line</div>
      <div class="home__desc">(888) 545-8880</div>
    </div>
    <div class="home__phone-container">
      <div class="home__label">CSM Line</div>
      <div class="home__desc">(801) 618-0266</div>
    </div>
    <div class="home__phone-container">
      <div class="home__label">Training Line</div>
      <div class="home__desc">(801) 618-1709</div>
    </div>
  </div>
</div>
